.container {
    width: 300px;
    background: #323232;
    border-radius: 10px;
    transition: box-shadow, transform .3s ease-in-out;
}

.container:hover {
    box-shadow: 0 0 60px 10px rgba(255, 255, 255, 0.2);

    transform: scale(1.05);

    cursor: pointer;
}

.container img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}



.textContainer {
    padding: 10px 20px 25px;
    height: calc(100% - 169.31px);
    display: flex;
    flex-direction: column;
}

.title {
    color: #fff;
}

.publisherTitle {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    margin: 15px 0;
}

.publisher:hover {
    color: #e80fce;
    cursor: pointer;
}

.publisher {
    font-size: 17px;
    font-weight: 900;
}

.tagsContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: auto;
}

.tagsContainer p {
    padding: 3px 6px;
    background: #8A8A8A;
    color: #ffffff;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}

/*
 *  Loading Game Component
 */


.loadingGame {
    width: 300px;
    height: 342px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingAnimation;
    animation-timing-function: linear;
    background: linear-gradient(to right, #8A8A8A 8%, #bbbbbb 18%, #8A8A8A 33%);
    background-size: 800px 104px;
    border-radius: 10px;
}

@keyframes loadingAnimation {
    0% {
        background-position: -800px 0
    }
    100% {
        background-position: 800px 0
    }
}