.container {
    display: flex;
    gap: 50px;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    margin: 100px auto 0;
    color: #fff;
    flex-wrap: wrap;
}

.title {
    font-size: 150px;
    color: red;
}

.subtitle {
    font-size: 30px;
}